@font-face{
    font-family: 'MBl';
    src: url(../fonts/Montserrat-Black.ttf);
}
@font-face{
    font-family: 'MB';
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face{
    font-family: 'ML';
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: 'MR';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'MT';
    src: url(../fonts/Montserrat-Thin.ttf);
}